.contenier {
    width: 80%;
    height: 770px;
    margin: auto;
    display: flex;
    margin-block: 15px;
}

.imageSide {
    height: 100%;
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgba(128, 128, 128, 0.25);
}

.content {
    height: 100%;
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
}

img {
    transition: all 250ms ease;
}

.imageSide img:hover {
    transform: scale(0.9);
}

.x {
    background-color: #f2f2f2;
    height: 100%;
    width: 50%;
    text-align: center;
}

.y {
    display: flex;
    height: 120px;
    width: 100%;
    margin-block: 50px;
    justify-content: space-between;
}

.description {
    width: 80%;
    min-height: 200px;
    background-color: white;
    margin: auto;
}

.description p {
    margin: 35px;
    font-size: 23px;
}