.main {
    height: 400px;
    width: 100%;
    background-color: #1D1D1D;
    margin-top: 25px;
}

.contenier {
    height: 50%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topComponents {
    height: 70%;
    width: 22%;
    display: flex;
    align-items: center;
}

.gradientText {
    background-image: linear-gradient(90deg, #FFBB31, red);
    font-weight: bolder;
    background-position: 0 0;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: anim 1s ease infinite;
}

@keyframes anim {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -210px 0;
    }
}

.nav {
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom {
    width: 80%;
    height: calc(50% - 100px);
    margin: auto;
    border: 1px solid #646464;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f2f2f2;
}

.bottom img {
    width: 15%;
    height: auto;
}

.cardSide {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.socialMedia {
    display: flex;
    color: #6B6B6B;
}

.socialMedia img {
    margin-left: 10px;
}

.cardSide img {
    height: 35px;
    width: auto;
}

.navigationSide {
    display: flex;
    height: 100%;
    width: 35%;
    align-items: center;
}

.navigationSide a {
    margin-inline: 18px;
    font-size: 18px;
    text-decoration: none;
    color: #6B6B6B;
    font-weight: 700;
    transition: color 250ms ease-in-out;
}

.navigationSide a:hover {
    color: #404040;
}